.table-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    max-width: 620px;
    margin: 0 auto;
}

.table-col {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
    width: 25%;
}

.table-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    border-radius: .25rem;
    transition: all 0.3s ease;
}

.table-selected {
    border: 5px solid #0d6efd !important;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.table-item.hover-effect:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-color: #000;
    opacity: 0.95;
}

@media (max-width: 576px) {
    .table-col {
        width: 50%;
    }
}

.table-list-container {
    max-height: 250px;
    overflow-y: auto;
}