<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layout/adminLayout}">

<head>
    <title>Quản lý nhân viên</title>
</head>

<body>
    <section layout:fragment="content">
        <div class="container">
            <h1 class="h3 mb-2 text-gray-800">Thêm chi tiêu</h1>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#createExpense">Thêm mới khoản
                        chi</button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-sm align-middle" id="dataTable" width="100%"
                            cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Ngày</th>
                                    <th>Khoản chi</th>
                                    <th>Số tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="expense : ${expenses}">
                                    <td th:text="${expense.expenseName}"></td>
                                    <td th:text="${#numbers.formatDecimal(expense.amount, 0, 'COMMA', 0, 'POINT')}">
                                    </td>
                                    <td th:text="${expense.expenseDate}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="createExpense" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thêm mới thu chi</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="nameInput">Ngày</label>
                                <input type="date" class="form-control" id="expenseDate">
                            </div>
                            <div class="form-group">
                                <label for="emailInput">Khoảng chi</label>
                                <input type="text" class="form-control" id="expenseName">
                            </div>
                            <div class="form-group">
                                <label for="messageTextarea">Số tiền</label>
                                <input type="number" class="form-control" id="amount"></input>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary" id="comfirmCreateExpense">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>