<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layout/adminLayout}">

<head>
    <title>Quản lý nhân viên</title>
</head>

<body>
    <section layout:fragment="content">
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Danh sách thực đơn</h6>
                </div>
                <div class="card-body">
                    <form action="" id="createMenuForm" novalidate>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>*Tên món:</label>
                                <input type="text" class="form-control" id="name" name="name" maxlength="55">
                                <span class="form-message text-danger "></span>
                            </div>

                            <div class="form-group col-md-6">
                                <label>*Giá tiền:</label>
                                <input type="text" class="form-control" id="money" name="price">
                                <span class="form-message text-danger "></span>
                            </div>
                        </div>


                        <label>*Thành phần: </label>
                        <table class="table table-bordered table-sm align-middle">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">Tên thành phần</th>
                                    <th scope="col" class="text-center">Khối lượng</th>
                                    <th scope="col" class="text-center">Đơn vị tính</th>
                                    <th scope="col" class="text-center">Xóa</th>
                                </tr>
                            </thead>
                            <tbody id="ingredientTable">

                            </tbody>
                        </table>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#addProductModal">Thêm
                            thành phần</button>

                        <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Danh sách hàng hóa</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-bordered"
                                            style="max-height: 200px; overflow-y: auto;">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Tên thành phần</th>
                                                    <th scope="col">Đơn vị tính</th>
                                                    <th scope="col">Hàm lượng</th>
                                                    <th scope="col" style="display: none;">ID Sản phẩm</th>
                                                    <th scope="col">Chọn</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="product : ${products}">
                                                    <td class="productName" th:text="${product.productName}"></td>
                                                    <td>
                                                        <select class="form-control unitSelect">
                                                            <option value="">Chọn đơn vị</option>
                                                            <option th:each="u : ${units}" th:value="${u.unitId}"
                                                                th:text="${u.unitName}">
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <td><input type="text" class="form-control quantity positiveDecimal"
                                                            pattern="\d*" maxlength="10"></td>
                                                    <td class="productId" th:text="${product.productId}"
                                                        style="display: none;"></td>
                                                    <td class="text-center">
                                                        <input type="checkbox" class="form-check-input isChooseProduct">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Đóng</button>
                                        <button type="button" class="btn btn-success"
                                            id="comfirmAddProduct">Thêm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="d-flex bd-highlight mt-2">
                            <a th:href="@{/admin/menu}" class="btn btn-secondary">Trở lên</a>
                            <button class="btn btn-success ml-2" id="saveButton" type="button">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>