<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layout/adminLayout}">

<head>
    <title>Quản lý bán hàng</title>
</head>

<body>
    <section layout:fragment="content">
        <div th:replace="admin/table/toast/toastOrderTable :: toast-order-table"></div>
        <div class="container-fluid">

            <h1 class="h3 mb-2 text-gray-800">Quản lý bán hàng</h1>



            <div class="card shadow mb-4 fw-bold">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Danh sách bàn</h6>
                </div>

                <div class="card-body">
                    <div class="row" id="list-table">
                        <div class="col-6 col-md-4 col-lg-3 col-xl-2 mb-3" th:each="table : ${tables}">
                            <div class="table-item p-3 rounded shadow-sm border border-dark text-center fw-bold d-flex flex-column justify-content-center align-items-center hover-effect"
                                th:classappend="${table.status.name() == 'AVAILABLE' ? 'bg-success text-white' : 'bg-warning text-dark'}"
                                th:attr="data-status=${table.status}, data-name=${table.tableName}, data-id=${table.tableId}">
                                <span th:text="${table.tableName}" class="fs-5 mb-2"></span>
                                <span class="badge bg-secondary"
                                    th:text="${table.status.name() == 'AVAILABLE' ? 'CÒN TRỐNG' : table.status.name() == 'RESERVED' ? 'ĐÃ ĐẶT TRƯỚC' : 'ĐANG SỮ DỤNG'}">Trống</span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="management-functions text-center mb-4" id="management-functions" style="display: none;">
                    <div class="d-flex flex-wrap justify-content-center">
                        <button class="btn btn-secondary shadow-sm m-1" id="btn-infor-table"
                            data-target="#infomationTableModal" data-toggle="modal">Xem bàn</button>
                        <button class="btn btn-secondary m-1" id="btn-move-table" data-toggle="modal"
                            data-target="#moveToTableModal">Chuyển
                            bàn</button>
                        <button class="btn btn-secondary m-1" id="btn-cup-table" data-toggle="modal"
                            data-target="#cupTableModal">Tách bàn</button>
                        <button class="btn btn-secondary m-1" id="btn-merge-table" data-toggle="modal"
                            data-target="#mergeTableModal">Gộp bàn</button>
                        <button class="btn btn-secondary m-1" id="btn-cancel-table" data-toggle="modal"
                            data-target="#cancelTableModal">Hủy bàn</button>
                        <button class="btn btn-secondary m-1" id="btn-dat-ban" data-toggle="modal"
                            data-target="#orderTableModal">Đặt bàn</button>
                        <button class="btn btn-secondary m-1" id="btn-choose-menu" data-toggle="modal">Chọn thực
                            đơn</button>
                        <button class="btn btn-secondary m-1" id="btn-payment" data-toggle="modal">Thanh toán</button>
                    </div>
                </div>


            </div>
        </div>

        <!-- order table modal -->
        <div th:replace="admin/table/modals/orderTableModal :: orderTableModal"></div>
        <!-- choose menu modal -->
        <div th:replace="admin/table/modals/chooseMenuModal :: chooseMenuModal"></div>
        <!-- infomationTable modal  -->
        <div th:replace="admin/table/modals/infomationOfTableModal :: infomationTableModal"></div>
        <!-- moveTable modal  -->
        <div th:replace="admin/table/modals/moveToTableModel :: moveToTableModal"></div>
        <!-- mergeTable modal  -->
        <div th:replace="admin/table/modals/mergeTableModel :: mergeTableModal"></div>
        <!-- cupTable modal  -->
        <div th:replace="admin/table/modals/cupTableModel :: cupTableModal"></div>
        <!-- cancelTable modal  -->
        <div th:replace="admin/table/modals/cancelTableModel :: cancelTableModal"></div>
        <!-- paymentTable modal  -->
        <div th:replace="admin/table/modals/paymentModel :: paymentModal"></div>
    </section>
</body>

</html>