<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layout/adminLayout}">

<head>
    <title>Quản lý nhân viên</title>
</head>

<body>
    <section layout:fragment="content">
        <div class="container-fluid">
            <h1 class="h3 mb-2 text-gray-800">Xem thu chi</h1>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="row g-2">
                        <div class="col-12 col-sm-6 col-md-3">
                            <label for="fromDate" class="form-label mb-2 mb-sm-0">Từ ngày</label>
                            <input type="date" class="form-control form-control-sm" id="fromDate">
                        </div>

                        <div class="col-12 col-sm-6 col-md-3">
                            <label for="toDate" class="form-label mb-2 mb-sm-0">Đến ngày</label>
                            <input type="date" class="form-control form-control-sm" id="toDate">
                        </div>

                        <div class="col-6 col-md-3 d-flex align-items-end mt-2">
                            <button class="btn btn-primary w-100 w-md-auto" id="fetchBudget">Xem</button>
                        </div>
                    </div>
                </div>

                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-bordered table-sm align-middle" id="dataTable" width="100%"
                            cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Ngày</th>
                                    <th>Thu</th>
                                    <th>Chi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="report : ${reports}">
                                    <td th:text="${report.date}"></td>
                                    <td th:text="${report.income}"></td>
                                    <td th:text="${report.expense}"></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>