<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layout/adminLayout}">

<head>
    <title>Quản lý nhân viên</title>
</head>

<body>
    <section layout:fragment="content">
        <div class="container-fluid">
            <h1 class="h3 mb-2 text-gray-800">Quản lý kho hàng</h1>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Chỉnh sửa hàng hóa</h6>
                </div>
                <div class="card-body">
                    <form action="/admin/product/edit" method="post" class="needs-validation" th:object="${product}"
                        novalidate id="editProductForm">
                        <input type="hidden" name="productId" th:field="*{productId}">

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="productName">Tên hàng hóa</label>
                                <input type="text" class="form-control" id="productName" name="productName"
                                    th:field="*{productName}">
                                <span th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"
                                    class="text-danger small"></span>
                                <span class="form-message"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="unitPrice">Đơn giá</label>
                                <input type="text" step="0.01" class="form-control" id="money" th:field="*{unitPrice}"
                                    name="unitPrice">
                                <span th:if="${#fields.hasErrors('unitPrice')}" th:errors="*{unitPrice}"
                                    class="text-danger small"></span>
                                <span class="form-message"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Đơn vị</label>
                                <select class="form-control" id="unitId" th:field="*{unitId}" required>
                                    <option value="">Chọn đơn vị</option>
                                    <option th:each="unit : ${units}" th:value="${unit.unitId}"
                                        th:text="${unit.unitName}">
                                    </option>
                                </select>
                                <span th:if="${#fields.hasErrors('unitId')}" th:errors="*{unitId}"
                                    class="text-danger small"></span>
                                <span class="form-message"></span>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Lưu</button>
                        <a th:href="@{/admin/equipment}" class="btn btn-success ml-2">Trở về</a>
                    </form>
                </div>
            </div>
        </div>

        <script th:src="@{/assets/js/validations/validator.js}"></script>
        <script>
            Validator({
                form: '#editProductForm',
                errorSelector: '.form-message',
                rules: [
                    Validator.isRequired('#productName'),
                    Validator.isRequired('#money'),
                    Validator.checkGreaterThanZero('#money', 'Đơn giá phải lớn hơn không'),
                    Validator.isRequired('#quantity'),
                    Validator.checkGreaterThanZero('#quantity', 'Số lượng phải lớn hơn không'),
                    Validator.isSelected('#unitId')
                ]
            });
        </script>
    </section>
</body>

</html>