<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layout/adminLayout}">

<head>
    <title>Chỉnh sửa voucher</title>
</head>

<body>
    <section layout:fragment="content">
        <div class="container-fluid">
            <h1 class="h3 mb-2 text-gray-800">Quản lý voucher</h1>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Chỉnh sửa voucher</h6>
                </div>
                <div class="card-body">
                    <form th:action="@{/admin/voucher/update/{id}(id=${voucher.voucherId})}" method="post"
                        th:object="${voucher}" class="needs-validation">
                        <div class="form-group">
                            <label>Tên khuyến mãi</label>
                            <input type="text" class="form-control" th:field="*{voucherName}">
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Ngày bắt đầu</label>
                                <input type="date" class="form-control" th:field="*{startDate}">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Ngày kết thúc</label>
                                <input type="date" class="form-control" th:field="*{endDate}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>% giảm giá</label>
                            <input type="number" class="form-control" th:field="*{discountValue}">
                        </div>

                        <button type="submit" class="btn btn-primary">Lưu</button>
                        <a th:href="@{/admin/voucher}" class="btn btn-success ml-2">Trở về</a>
                    </form>

                </div>
            </div>
        </div>
    </section>
</body>

</html>