<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body th:fragment="admin_sidebar">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
                <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/admin}">
                        <div class="sidebar-brand-text mx-3">Cafe Management</div>
                </a>
                <hr class="sidebar-divider my-0">

                <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin}">
                                <i class="fas fa-fw fa-home"></i>
                                <span>Trang chủ </span>
                        </a>
                </li>

                <hr class="sidebar-divider">
                <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/table}">
                                <i class="fas fa-fw fa-shopping-cart"></i>
                                <span>Quản lý bán hàng </span>
                        </a>
                </li>

                <div sec:authorize="hasRole('ROLE_MANAGER')">

                        <hr class="sidebar-divider">
                        <li class="nav-item">
                                <a class="nav-link" th:href="@{/admin/employee}">
                                        <i class="fas fa-fw fa-users"></i>
                                        <span>Quản lý nhân viên </span>
                                </a>
                        </li>

                        <hr class="sidebar-divider">
                        <li class="nav-item">
                                <a class="nav-link" th:href="@{/admin/equipment}">
                                        <i class="fas fa-fw fa-tools"></i>
                                        <span>Quản lý thiết bị </span>
                                </a>
                        </li>

                        <hr class="sidebar-divider">
                        <li class="nav-item">
                                <a class="nav-link" th:href="@{/admin/product}">
                                        <i class="fas fa-fw fa-boxes"></i>
                                        <span>Quản lý kho hàng </span>
                                </a>
                        </li>

                        <hr class="sidebar-divider">
                        <li class="nav-item">
                                <a class="nav-link" th:href="@{/admin/menu}">
                                        <i class="fas fa-fw fa-utensils"></i>
                                        <span>Quản lý thực đơn </span>
                                </a>
                        </li>

                        <hr class="sidebar-divider">
                        <li class="nav-item">
                                <a class="nav-link" th:href="@{/admin/voucher}">
                                        <i class="fas fa-fw fa-tags"></i>
                                        <span>Quản lý marketing </span>
                                </a>
                        </li>

                        <hr class="sidebar-divider">
                        <li class="nav-item">
                                <a class="nav-link collapsed" href="#" data-toggle="collapse"
                                        data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                                        <i class="fas fa-fw fa-coins"></i>
                                        <span>Quản lý ngân sách</span>
                                </a>
                                <div id="collapsePages" class="collapse" aria-labelledby="headingPages"
                                        data-parent="#accordionSidebar">
                                        <div class="bg-white py-2 collapse-inner rounded">
                                                <a class="collapse-item" th:href="@{/admin/bubget}">Xem thu chi</a>
                                                <a class="collapse-item" th:href="@{/admin/expense}">Thêm chi tiêu</a>
                                        </div>
                                </div>
                        </li>

                        <hr class="sidebar-divider">
                        <li class="nav-item">
                                <a class="nav-link" th:href="@{/admin/report}">
                                        <i class="fas fa-fw fa-chart-line"></i>
                                        <span>Báo cáo thống kê </span>
                                </a>
                        </li>


                        <hr class="sidebar-divider d-none d-md-block">

                </div>
                <div class="text-center d-none d-md-inline">
                        <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>
        </ul>
</body>

</html>